In [13]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

In [28]:
df = pd.read_csv("training_dataset_V3.csv")
df.head()

,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,most_recent_load_date,load_day,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads
0,0,2019-12-16,Monday,2019,21350,U0109015,Owner Operator,CA&F TRUCKING,Maywood,CA,...,2021-02-17,2019-12-16,2,0,438,438,0,45,45,483
1,1,2021-01-15,Friday,2021,36437,C0097727,Fleet,New opportunities inc,Los Angeles,CA,...,2021-02-03,2021-01-15,1,2,72,74,0,1,1,75
2,2,2019-12-26,Thursday,2019,19323,U0107081,Owner Operator,RAS,Compton,CA,...,2020-09-25,2019-12-26,1,0,180,180,0,2,2,182
3,3,2021-02-10,Wednesday,2021,34809,C0094651,Fleet,NFS asset Drayage,Lynwood,CA,...,2021-02-17,2021-02-10,3,0,0,0,0,0,0,62
4,4,2017-07-24,Monday,2017,4728,U0094376,Owner Operator,joes transportation,Norco,CA,...,2017-10-11,2017-07-24,2,57,0,57,314,0,314,371

In [21]:
scores = pd.read_csv("score_V3.csv")
scores["id_driver"].value_counts()

4524     12
10740     8
4516      7
18868     6
26536     6
         ..
4509      1
23962     1
15767     1
9587      1
16265     1
Name: id_driver, Length: 668, dtype: int64

In [31]:
score_ids = scores["id_driver"].unique()
train_ids = df["id_driver"].unique()
mutual_ids = np.intersect1d(score_ids, train_ids, assume_unique=True)
print(f"Number of unique drivers in training data: {len(train_ids)}")
print(f"Number of unique drivers in test data: {len(score_ids)}")
print(f"Number of unique drivers in both datasets: {len(mutual_ids)}")
print(f"Percentage of test drivers in training dataset: {len(mutual_ids) / len(score_ids)}")

Number of unique drivers in training data: 5291
Number of unique drivers in test data: 668
Number of unique drivers in both datasets: 649
Percentage of test drivers in training dataset: 0.9715568862275449