In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

In [2]:
# load data
data_path = "."
data_name = "training_dataset.csv"
df_raw = pd.read_csv(os.path.join(data_path, data_name))
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83414 entries, 0 to 83413
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                83414 non-null  int64
 1   Unnamed: 0.1              83414 non-null  int64
 2   dt                        83414 non-null  object
 3   weekday                   83414 non-null  int64
 4   year                      83414 non-null  int64
 5   id_driver                 83414 non-null  int64
 6   id_carrier_number         83414 non-null  object
 7   dim_carrier_type          83414 non-null  object
 8   dim_carrier_company_name  83367 non-null  object
 9   home_base_city            83370 non-null  object
 10  home_base_state           83370 non-null  object
 11  carrier_trucks            83414 non-null  object
 12  num_trucks                83344 non-null  float64
 13  interested_in_drayage     83414 non-null  object
 14  port_qualified            83414 non-null  object
 15  signup_source             83414 non-null  object
 16  ts_signup                 83414 non-null  object
 17  ts_first_approved         71128 non-null  object
 18  days_signup_to_approval   71128 non-null  float64
 19  driver_with_twic          83414 non-null  object
 20  dim_preferred_lanes       3413 non-null   object
 21  first_load_date           83414 non-null  object
 22  most_recent_load_date     83414 non-null  object
 23  load_day                  83414 non-null  object
 24  loads                     83414 non-null  int64
 25  marketplace_loads_otr     83414 non-null  int64
 26  marketplace_loads_atlas   83414 non-null  int64
 27  marketplace_loads         83414 non-null  int64
 28  brokerage_loads_otr       83414 non-null  int64
 29  brokerage_loads_atlas     83414 non-null  int64
 30  brokerage_loads           83414 non-null  int64
 31  total_loads               83414 non-null  int64
 32  date                      83414 non-null  object
 33  period                    83414 non-null  int64
 34  recent_date               83414 non-null  object
 35  test                      83414 non-null  int64
 36  label                     83414 non-null  int64
dtypes: float64(2), int64(16), object(19)
memory usage: 23.5+ MB

In [3]:
# get rid of extraneous features
df_raw.drop(["Unnamed: 0", "Unnamed: 0.1", "test", "label"], axis=1, inplace=True, errors='ignore')
df_raw.nunique()

dt                          1907
weekday                        7
year                           7
id_driver                   5285
id_carrier_number           2575
dim_carrier_type               2
dim_carrier_company_name    2493
home_base_city               518
home_base_state               40
carrier_trucks                16
num_trucks                    30
interested_in_drayage          2
port_qualified                 2
signup_source                  2
ts_signup                   2575
ts_first_approved           1883
days_signup_to_approval      674
driver_with_twic               2
dim_preferred_lanes           53
first_load_date             1455
most_recent_load_date       1415
load_day                    1907
loads                         67
marketplace_loads_otr        108
marketplace_loads_atlas      196
marketplace_loads            228
brokerage_loads_otr          216
brokerage_loads_atlas        101
brokerage_loads              241
total_loads                  331
date                        1907
period                         2
recent_date                 1415
dtype: int64

In [4]:
df_raw[df_raw["total_loads"] == df_raw["loads"]].count()

dt                          1720
weekday                     1720
year                        1720
id_driver                   1720
id_carrier_number           1720
dim_carrier_type            1720
dim_carrier_company_name    1719
home_base_city              1715
home_base_state             1715
carrier_trucks              1720
num_trucks                  1688
interested_in_drayage       1720
port_qualified              1720
signup_source               1720
ts_signup                   1720
ts_first_approved           1209
days_signup_to_approval     1209
driver_with_twic            1720
dim_preferred_lanes           66
first_load_date             1720
most_recent_load_date       1720
load_day                    1720
loads                       1720
marketplace_loads_otr       1720
marketplace_loads_atlas     1720
marketplace_loads           1720
brokerage_loads_otr         1720
brokerage_loads_atlas       1720
brokerage_loads             1720
total_loads                 1720
date                        1720
period                      1720
recent_date                 1720
dtype: int64